<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <add name="ADVEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4A435TC\SQLEXPRESS;initial catalog=ADV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="ADV1.Properties.Settings.ADVConnectionString" connectionString="Data Source=DESKTOP-4A435TC\SQLEXPRESS;Initial Catalog=ADV;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings><userSettings>
        <ADV1.Properties.Settings>
            <setting name="color" serializeAs="String">
                <value>Black</value>
            </setting>
        </ADV1.Properties.Settings>
    </userSettings>
</configuration>